<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <style>
        .container{
            text-align: center;
        }
        .btn {
    background: linear-gradient(270deg, #00edff, #08ff00, #ff0000);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

    @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    body {
    background: linear-gradient(270deg, #00ffbd, #0039ff);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
    .container h1{
        color: white;
    }
    .sr-only{
        color: white;
    }
    .table thead tr th {
        color: white;
    }

    .tbody tr td {
        color: white;
    }
    #fullUrl {
        border-radius: 50px;
    }
    </style>
    <div class="container">
    <h1>URL Shrinker</h1>
    <form action="/shortUrls" method="POST" class="my-4 form-inline">
        <label for="fullUrl" class="sr-only">Full URL</label>
        <input required placeholder="url" type="url" name="fullUrl" id="fullUrl" class="from-control mr-2">
        <button class="btn btn-success" type="submit">Shrink</button>
    </form>

    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Full Url</th>
                <th>Short Url</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% shortUrls.forEach(shortUrl => { %>
                <tr>
                <td><a style="color: white;" href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                <td><a style="color: white;" href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
                <td><%= shortUrl.clicks %></td>
            </tr>
           <% }) %> 
        </tbody>
    </table>
</div>
</body>
</html>